body{
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}
#googlelogo{
  display: block;
  width: 270px;
  margin: 0 auto;
}

#searchtools{
  margin-top: 24px;
}

#searchbox{
  display: inline-block;
  width: 85%;
  font-size: 12pt;
  margin-top: 10px;
  outline: none;
  border: none;
  vertical-align: top;
}

#searchbuttons{
  text-align: center;
  margin-top: 35px;
}

#main{
  margin: 15% auto;
}

.searchbutton:hover{
  background-color: #F2F2F2;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #C6C6C6;
  color: #333;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
.searchbutton{
  background-color: #F2F2F2;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border-radius: 2px;
  border: none;
  cursor: default;
  font-size: 12px;
  font-weight: normal;
  color: #5F6368;
  font-family: arial,sans-serif;
  text-align: center;
  height: 35px;
  line-height: 27px;
  min-width: 60px;
  padding: 0 15px;
  margin: 0 8px;
  text-decoration: none;
}

#boxgraphic{
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 540px;
  height: 42px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

#miclogo{
  margin-top: 7px;
  width: 5%;
}
